*{
  margin : 0px;
  padding : 0px;
  font-family : poppins;
}
body{
  margin: 0px;
  padding: 0px;
  font-family: poppins;
}
ul{
    list-style: none;
}
a{
  text-decoration: none;
}


.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 10%;
  margin: auto;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 100;
  background-color: #00342D;
  border: 2px solid rgba(0,0,0,0.03);
}

.menu{
  display:flex;
}

.menu li a{
  margin: 5px;
  padding: 5px 20px;
  color: #FFFEFE;
  font-weight: 500;
  opacity: 0.4;
  transition: all ease 0.3s;
}

.menu .active {
  opacity: 1;
}

.menu li a:hover{
  opacity:1;
  transition:all ease 0.3s;
}

.logo{
  font-size : 2.5rem;
  color : #D9CE96;
  text-transform : uppercase;
  letter-spacing : 0.5px;
  font-weight:600;
}


.gras {
  text-transform: uppercase;
  color :#014034;
  font-size:2.2rem;
  font-weight: 500;
  line-height: 45px;
}

.gras span{
  font-weight: 600;
  letter-spacing: 2px;
}

.pad {
  padding-top: 130px;
}

p{
    font-weight: 300;
    color: #111;
}

.product {
    background-color:  #ffffff;
}

.gras {
    font-weight: 400;
    margin: 20px;
    color: #2c3e50;
    font-size: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 6px;
  text-align: center;
  font-family: arial;
  display: inline-block;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.feature-product {
  display : flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin : 50px 0px;
  color : #2e2e2e;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
  font-family: poppins;
}

.feature-product h2::after{
  border-bottom: 2px solid #000000;
  width: 25%;
  height: 1px;
  background-color: #2e2e2e;
  position: absolute;
  content: '';
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
}

.inline {
  display:inline-block;
}


/************************************/

body {
  color: #313131;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

.btn {
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: relative;
  position: absolute;
  left: 55%;
  transform: translate(-40%, -10%);
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.text {
  padding: 0 100px;
  visibility: hidden;
}

.flip-front, 
.flip-back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-style: flat;
    transform-style: flat;
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
}

.flip-front {
    color: #313131;
    border: 2px solid #313131;
    background-color: transparent;
    -webkit-transform: rotateX(0deg) translateZ(25px);
    -ms-transform: rotateX(0deg) translateZ(25px);
    -o-transform: rotateX(0deg) translateZ(25px);
    transform: rotateX(0deg) translateZ(25px);
}

.flip-back {
  color: white;
  background-color: #00342D;
  border: 2px solid #313131;
  -webkit-transform: rotateX(90deg) translateZ(25px);
  -ms-transform: rotateX(90deg) translateZ(25px);
  -o-transform: rotateX(90deg) translateZ(25px);
  transform: rotateX(90deg) translateZ(25px);
}

.btn:hover .flip-front {
    -webkit-transform: rotateX(-90deg) translateZ(25px);
    -ms-transform: rotateX(-90deg) translateZ(25px);
    -o-transform: rotateX(-90deg) translateZ(25px);
    transform: rotateX(-90deg) translateZ(25px);
}

.btn:hover .flip-back {
    -webkit-transform: rotateX(0deg) translateZ(25px);
    -ms-transform: rotateX(0deg) translateZ(25px);
    -o-transform: rotateX(0deg) translateZ(25px);
    transform: rotateX(0deg) translateZ(25px);
}

/***************************************************************/

